<h1>¡Sociedad Actúa te da la bienvenida!</h1>

<p>
¡Gracias por registrarte en Sociedad Actúa!, el lugar de encuentro entre personas, organizaciones,
inversionistas y proyectos que quieren contribuir al cambio y la acción social en el estado de Nuevo León.
</p>

<p>
Esperamos que tengas una grata experiencia y sea de ayuda para la causa que quieres impulsar.
</p>

<p>
Si necesitas ayuda o tienes dudas, contáctanos:
Tel. 8989 2600 ext. 118
E-mail: <a href="mailto:hola@sociedadactua.org">hola@sociedadactua.org</a>
</p>

<p><b>Sociedad Actúa</b></p>
