<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Bienvenido(a) a Sociedad Actúa!</h1>
    <p>
      ¡Gracias por registrarte en Sociedad Actúa!,
      el lugar de encuentro entre organizaciones, proyectos, inversionistas y personas.

      A partir del lanzamiento oficial que se hará el 4 de noviembre podrás tener acceso
      a información más detallada del ámbito de la acción social en Nuevo León, 
      contactar con otros(as) usuarios(os) registrados(as), actualizar tu información y
      ¡ser más visible!

      Esperamos que tengas una grata experiencia y sea de ayuda para la causa que quieres
      impulsar.

      Si necesitas ayuda o tienes dudas, contáctanos, en el teléfono 89892600 o a la dirección
      electrónica hola@sociedadactua.org.
    </p>
    <p><b>Sociedad Actúa</b></p>
  </body>
</html>
