h1 { @include heading-1(); }
h3 { @include heading-3(); }
h5 { @include heading-5(); }

/* Paragraph, spans and links */
p, span, label, li { @include text__decorator($grey_200); }
label { @include text__decorator($grey_800); }

/* Text helpers
 * If some of the next classes is present '!important', override everything.
 */

// Colors
.bright { color: #ffffff !important; }
.light-grey { color: $grey_600 !important; }
.dark { color: $grey_800 !important; }
.primary { color: $cartoon_green !important; }
.danger { color: $red_800 !important; }
.orange {color: $orange_800 !important;}
.blue{color: $blue_600 !important;}

// Weights
.boldish { font-weight: 400 !important; } // normally 300;
