.col-xs-6.col-sm-3.showcase__thumbnail.sh-photo.first-accent-th &nbsp;

.col-xs-6.col-sm-3.showcase__thumbnail.sh-content-third-accent-th
  %h3 Proyecto
  %h3 Registro en Distrito Tec
  %p Lorem ipsum sit met, consectetur adipscing elit. viverra mollis in eget mi...

  %h3 Agente
  %p Bosque Urbano México

.col-xs-6.col-sm-3.showcase__thumbnail.sh-photo.first-accent-th &nbsp;

.col-xs-6.col-sm-3.showcase__thumbnail.sh-content-fourth-accent-th
  %h3 Proyecto
  %h3 Registro en Distrito Tec
  %p Lorem ipsum sit met, consectetur adipscing elit. viverra mollis in eget mi...

  -# %h3 Agente
  -# %p Bosque Urbano México



-# .col-xs-12.col-sm-6.col-md-6.col-lg-6.jumbotron.no-padding
-#   .panel-thumbnail.box-relative
-#     .col-md-6
-#       -if element.class==Project
-#         = image_tag element.photo_project, width: '100%'
-#       -elsif element.class==Organization || element.class== Investor
-#         = image_tag element.logo, width: '100%'
-#
-#     .col-md-6
-#       .row
-#         =element.class
-#       .row
-#         = element.name
-#       .row
-#         -if element.class==Project
-#           = element.description
-#         -elsif element.class==Organization
-#           = element.mision
