- content_for :landing do
  = image_tag 'landing-video.jpg', width: '100%'

.row.section
  %h1= t('about.title.what_is')


.row.section
  .col-xs-12.col-sm-12
    %p= t('about.text')
    %p= t('about.text_support')
