%h3 ￼Lineamientos y políticas de uso del sitio Sociedad Actúa  www.sociedadactua.org


%p
  Como parte del cumplimiento de la misión de Consejo Cívico y Fundación
  COMUNIDAR, dichas organizaciones civiles ofrecen esta plataforma digital con el
  objetivo de ayudar a la coordinación de esfuerzos de la sociedad civil y su
  fortalecimiento, utilizando una base de datos de fácil manejo, visibilizando
  proyectos sociales y facilitando el encuentro con los recursos y personas que
  desean impulsar su desarrollo, para lo cual establecen las siguientes:

%h3 Políticas de uso


%h5 A. Principios generales de acceso

%p
  El sitio Sociedad Actúa está abierto a la comunidad en general y es de uso
  gratuito. Se pueden hacer consultas o bien publicar información y establecer
  contactos con otros usuarios(as) mediante la obtención de una cuenta que  se
  tramita gratuitamente también en la misma página.


%h5 B. Servicios

%p
  Los servicios que ofrece la plataforma son publicación de perfiles,
  ubicación geográfica de proyectos sociales, descarga de bases de datos y
  contacto por medio del sitio entre usuarios(as) del mismo que estén dados
  de alta.

%p
  Estos servicios son gratuitos y podrán variar en el tiempo de acuerdo al
  desarrollo que definan sus creadores (Consejo Cívico y Fundación COMUNIDAR).


%h5 C. Registro de usuarios(as)

%p
  Si bien la plataforma puede ser consultada por público en general, para el
  registro de usuarios y los servicios que esto conlleva, como publicación de
  perfiles y contacto con otros usuarios(as), se limita a organismos civiles
  de los cuales se descarta partidos políticos, así como entidades de gobierno.


%h5 D. Uso de la plataforma

%p
  El(la) usuario(a) se compromete a proporcionar información verídica en todos
  los campos que se estipulan como ‘requeridos’ así como en todos los campos
  ‘opcionales’ que decida llenar, leyendo cuidadosamente las instrucciones y
  notando en qué casos los datos serán de acceso público y en cuáles serán
  únicamente tratados por Consejo Cívico y Fundación COMUNIDAR.

%p
  El(la) usuario(a) será el único responsable de actualizar la información
  correspondiente a su perfil, proyectos, eventos y demás información que se haga
  pública en este sitio por su parte, así como del contacto respetuoso y
  adecuado con otros(as) usuarios de la plataforma a través de la misma.

%p
  Las páginas de perfiles son un medio de difusión y visibilidad de
  organizaciones, grupos, proyectos, instituciones y personas y deben orientarse
  a reflejar exclusivamente sus perfiles y actividades.

%p
  El contenido de cada página de perfil, así como la veracidad de la información
  publicada, es responsabilidad única del(a) autor(a) de la misma, por lo que
  deberá asegurarse ética y legalmente, de que cuenta con los derechos de autor
  y de propiedad intelectual del material que publica. El(La) usuario(a) deberá
  responder directamente si llegara a presentarse algún reclamo en este sentido
  por algún tercero.

%p
  Los derechos de autor y propiedad intelectual de los contenidos publicados
  continuarán perteneciendo a quienes sustenten éstos.

%p
  El sitio de Sociedad Actúa se reserva el derecho de usar “cookies” en el sitio.
  Una cookie es un programa informático que permite al sitio, verificar cuando
  un visitante es un usuario autorizado del sistema, también permite almacenar
  información en el disco duro de la computadora del propio usuario. Cualquier
  información obtenida se utiliza únicamente con el propósito de mejorar y
  brindar el servicio proporcionado por el sitio Web.

%p
  Este sitio nunca utilizará las cookies para obtener datos personales sobre los
  usuarios, como nombres, direcciones postales, direcciones de correo electrónico
  y números telefónicos, por mencionar algunos.


%h5 E. Suspensión o revocación de derecho para acceder

%p Podrá ser suspendido el acceso al sitio de Sociedad Actúa toda persona o entidad:

%ol
  %li De la que se sepa falsea información.
  %li Proporcione sistemáticamente información incorrecta.
  %li Publique imágenes o contenidos inapropiados, que agredan a un tercero o bien a manera de proselitismo político o religioso.
  %li Realicen cualquier actividad ilegal, intencional o no, mediante el sitio de Sociedad Actúa.


%h5 F. Privacidad

%p
  La privacidad de los datos se manejan de acuerdo a lo publicado en el Aviso
  de privacidad del sitio www.sociedadactua.org/es/aviso-de-privacidad


%h5 G. Apoyo técnico y de contacto

%p
  Para resolver cualquier duda o dificultad con este sitio favor de comnunicarse
  al  teléfono 89892600 en horario de lunes a viernes de 9:00 a 18:00 horas o
  bien al correo electrónico hola@sociedadactua.org

%p Última actualización: 26 de octubre de 2015.
