// Colors
$black: #222222;

$grey_100: #F6F6F6; // ex. background
$grey_150: #EDEDED; // ex. newsletter
$grey_175: #E4E4E4;
$grey_200: #B7B7B7; // ex. text
$grey_300: #E0E0E0;
$grey_400: #BDBDBD;
$grey_600: #757575;
$grey_800: #474747; // ex. header
$grey_900: #212121;
$input_border_color: #CCC;

$cartoon_green: #00CC99; // ex. button

$red_800: #FF6666; // ex. form error

// Blues
$blue_600: #4AC2FA;
$blue_800: #0DA4F9;

// Yellow
$yellow_800: #FFD200;

// Orange
$orange_800: #FF7D00;


// Most used variables
$first__accent: $blue_600;
$second__accent: $blue_800;
$third__accent: $yellow_800;
$fourth__accent: $orange_800;
