// Colors
$black: #222222;

$grey_100: #F6F6F6; // ex. background
$grey_150: #EDEDED; // ex. newsletter
$grey_200: #B7B7B7; // ex. text
$grey_300: #E0E0E0;
$grey_400: #BDBDBD;
$grey_600: #757575;
$grey_800: #474747; // ex. header
$grey_900: #212121;
$input_border_color: #CCC;

$cartoon_green: #00CC99; // ex. button

$blue_800: #337AB7; // timeline clear date entry
$red_800: #FF6666; // ex. form error
$orange_800: #F0AD4E; // timeline warning date entry
