.uppercase {
  text-transform: uppercase;
}

.bg--grey { background-color: $grey_100 !important; }
.bg--hard-grey { background-color: $grey_175 !important; }
.bg--dark-grey { background-color: $grey_800 !important; }

.little-margin-right {
  margin-right: 15px !important;
}

.section{
  margin: 30px 0 30px 0;
}

.first_accent { color: $first__accent !important; }
.second_accent { color: $second__accent !important; }
.third_accent { color: $third__accent !important; }
.fourth_accent { color: $fourth__accent !important; }

.first-accent-bg { background-color: $first__accent !important; }
.second-accent-bg { background-color: $second__accent !important; }
.third-accent-bg { background-color: $third__accent !important; }
.fourth-accent-bg { background-color: $fourth__accent !important; }

.no-decoration { text-decoration: none !important; }

.icon-title { height: 50px; }
