.row
  .col-sm-6
    %h1
      Proyectos

  .col-sm-6.text-right
    - if policy(:project).new?
      %h1
        = link_to "Agregar proyecto", new_organization_project_path(@organization), class: 'btn btn-default'

%h4 proyecto(s)

- @organization.projects.each do |project|
  .row
    .col-md-4
      .thumbnail
        %img{ src: project.photo_project}
        .caption
          %h3= project.name
          %p= project.description
          %p
            %a{href: edit_organization_project_path(project.organization, project), class: "btn btn-default", role: "button"} Editar
