{
  "id": "secret",
  "mailer_from": "mi.cuenta@correo.org",
  "rails": {
    "env": "development",
    "serve_static_files": "enabled"
  },
  "secret_key_base": "asfandskjfnadskjfnakjdsnfkjasdnfkjnadsfjnadsjkfnadsknfkjadsnlfkadsnkjfnkjladsnfkjandsk",
  "postgres": {
    "password": ""
  },
  "aws": {
    "secret": "",
    "key": "",
    "region": ""
  },
  "s3_bucket": "",
  "new_relic":{
    "licence_key": "",
    "log": "stdout"
  },
  "app_name": "sociedad_actua",
  "host": "sociedadactua:80",
  "domain_name": "",
  "ga_code": "",
  "lang":""
}
