= render "layouts/thanks_for_register", name: @investor.name, url: nil, text_button: t('investor.show.button_text'), title: t('investor.show.welcome'), text_principal: t('investor.show.subtitle'), text_secondary: t('investor.show.invitation')
