// Navbar default colors
$footer_background_color: $grey_150;
$footer_header_color: $fourth__accent;
$footer_text_color: $grey_800;

// Paddings
$footer_padding_top: 50px;
$footer_padding_bottom: 50px;

// Links
$link_header_padding_bottom: 10px;

#footer{
  background-color: $footer_background_color;

  padding-top: $footer_padding_top;
  padding-bottom: $footer_padding_bottom;

  .info__links {
    margin-bottom: 30px;
  }

  p, a, span {
    color: $footer_text_color;
    &.header {
      font-size: 16px;
      color: $footer_header_color;
      font-weight: bolder;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
    li{
      color: $footer_text_color;
      margin-bottom: 5px;
    }
  }
}
