.form__container {
  label { font-size: 16px; }
}

// let's override some of the bootstrap classes
.control_override {
  border-radius: 0;
}

.form-control {
  @extend .control_override;
  height: 40px;

  &:focus {
    border-color: $fourth__accent;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 125, 0, 0.6)
  }

  &.inline {
    display: inline-block;
    width: 500px;
  }
}

.inline {
  display: inline-block !important;
}

.checkbox-funding label {
  color: #fff !important;
}

.block {
  display: block !important;
}

.file_input {
  @extend .inline;
}

.fakefile {
  margin-right: 30px;
  input {
    @extend .inline;
    margin-right: 15px;
  }
}

input.error {
  border: 1px solid #A94442;
}

label.error {
  color: #A94442;
  font-weight: 700;
}

.main-form-section {
  margin: 30px 0;

  .form-group {
    margin-top: 15px;
  }
}

.toggle-form-section {
  margin-top: 20px;
}

.section-notice {
  margin: 20px 0;
}
