.showcase {
  @extend .row;
}
@mixin link__thumbail($bg-color: $second__accent, $direction: 'left') {
  &--#{$direction}:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    z-index: 10000;
    @if $direction == 'left' {
      top: 20%;
      right: 100%;
      margin-top: -30px;
      border-top: solid 25px transparent;
      border-right: solid 20px $bg-color;
      border-bottom: solid 25px transparent;
    }
    @else {
      top: 20%;
      left: 100%;
      margin-top: -30px;
      border-top: solid 25px transparent;
      border-left: solid 25px $bg-color;
      border-bottom: solid 25px transparent;
    }
  }
}

@mixin base__thumbnail($bg_color: $second__accent, $heading_color: white, $text_color: $grey_600) {
  background-color: $bg_color;
  height: 250px !important;

  h3 {
    @include heading-3($heading_color);
    margin-top: 10px;
  }
  h5 { @include heading-5($heading_color); }
  a { color: $heading_color !important; }

   h5, p {
    font-weight: 500 !important;
    color: $text_color ;
  }
}
.showcase__thumbnail.sh-photo {
  background-color: rgba(32,32,32,0.2) !important;
  height: 250px !important;
}
.showcase__thumbnail {
  &.sh-photo {
    @include base__thumbnail();

    background-color: white !important ;
    -webkit-box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.75);
    overflow: hidden;
    padding-left: auto;
    padding-right: auto;

    .photo_container {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      margin-bottom:20px;
    }

    .photo {
      position:absolute;
      width:100%;
      height:100%;

    }

    .photo img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    img{
      max-height:100%;
      max-width:100%;
    }
  }

  &.sh-content-first-accent-th {
    @include base__thumbnail($first__accent);
    @include link__thumbail($first__accent);
    @include link__thumbail($first__accent, 'right');
  }

  &.sh-content-second-accent-th {
    @include base__thumbnail($second__accent);
    @include link__thumbail($second__accent);
    @include link__thumbail($second__accent, 'right');
  }

  &.sh-content-third-accent-th {
    @include base__thumbnail($third__accent, $second__accent,$grey_250);
    @include link__thumbail($third__accent);
    @include link__thumbail($third__accent, 'right');
  }

  &.sh-content-fourth-accent-th {
    @include base__thumbnail($fourth__accent,white,$yellow_600);
    @include link__thumbail($fourth__accent);
    @include link__thumbail($fourth__accent, 'right');
  }

  &.sh-content-fifth-accent-th {
    @include base__thumbnail($fourth__accent);
    @include link__thumbail($fourth__accent);
    @include link__thumbail($fourth__accent, 'right');
  }
}
