.organization-thumb {

  .showcase__thumbnail.sh-photo {
    height: 200px !important;
  }

  .showcase__thumbnail {
    &.sh-photo {
      height: 250px !important;
      .photo_container {
        position: relative;
        width: 100%;
        padding-bottom: 75%;
        margin-bottom: 20px;
      }

      .photo {
        position: absolute;
        width: 100%;
        height: 100%;

      }

      .photo img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  h3 { @include heading-3(); }
  h5 { @include heading-5($grey_200); }

  padding: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  background-color: $yellow_800;

  height: 430px;
  min-height: 430px;
  max-height: 430px;

  label {
    color: white;
  }

  .title {
    margin-bottom: 15px;
    color: $blue_800;
  }

  .thumb, .caption {
    padding-left: 20px;
    padding-left: 20px;
  }

  .thumb {
    background-color: $orange_800;
    height: 200px;
    img {
      width: 140px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .list {
    padding: 0;
    list-style-type: none;
    margin-bottom: 30px;

    .item {
      list-style-type: none;
      margin-bottom: 5px;

      .mini-thumb {
        border-radius: 25px;
        width: 50px;
        height: 50px;
      }
    }
  }

}