.profile-section {

  .profile-logo {
    width: 75px;
    height: 75px;
    display: inline-block;

    margin-left: 25px;
  }


  background-color: #FECD36;
  padding-bottom: 40px;
  padding-top: 40px;

  color: $gray-dark;

  .offset {
    padding-top: 40px;

    &--text {
      padding-top: 30px;
    }
  }

  .frame {
    width: 200px;
    height: 200px;
    border-color: white;
    border-style: solid;
    border-width: 15px;
    background-color: #E5E5E5;
    white-space: nowrap;
    text-align: center;

    // padding-top: 20px;
    position: relative;
    .logo {
      
      vertical-align: middle;
      display: inline-block;
      width:30%;
      max-height: 50px;
      transform:scale(3);
      // transform-origin:center top;
    }

    &--helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
  label {
    font-weight: bold;
  }

  p, label {
    color: $gray-darker;
  }

  .title {
    color: $blue-800;
  }

  @include profile__link;
}
