.profile-section {

  .profile-logo {
    width: 75px;
    height: 75px;
    display: inline-block;

    margin-left: 25px;
  }


  background-color: #FECD36;
  padding-bottom: 40px;
  padding-top: 40px;

  color: $gray-dark;

  .offset {
    padding-top: 40px;
  }

  .frame {
    width: 200px;
    height: 200px;
    border-color: white;
    border-style: solid;
    border-width: 15px;
    background-color: #E5E5E5;

    padding-top: 20px;

    .logo {
      
      vertical-align: middle;

      max-width:80%; 
      height:45px; 
      transform:scale(3);
      transform-origin:center top;
    }
  }
  label {
    font-weight: bold;
  }

  p, label {
    color: $gray-darker;
  }

  .title {
    color: $blue-800;
  }
}
