nav.sub-navbar {
  @include nav__container(
    $second__accent,
    white,
    black,
    20px,
    10px,
    10px,
    0px,
    80px
  );

}

#navbar.sub-navbar {
  @include nav__links(
    $second__accent,
    white,
    black,
    20px,
    0
  );
}

.inner-addon {
  position: relative;

  .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
}

.right-addon input { padding-right: 30px; }
.right-addon .glyphicon {
  right: 0px;
  color: #ccc;
  top: 2px;
}

