.content-video {
  position: relative;
  text-align: center;

  video {
    width: 100%;
    position: relative;
    z-index: -1;
    opacity: 0;
  }
}

.content__overlay {
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 15%;
  width: 70%;
  color: white;

  h1.content__heading {
    margin-bottom: 20px!important;
    color: #FFF;
    font-size: 6em;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  }

  p.content__desc {
    font-size: 36px;
    line-height: 50px;
    color: #FFF;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  }
}


