= render "layouts/thanks_for_registrer", name: @organization.name, url: new_organization_project_path(current_user.profile), text_button: t('organization.show.button_text'), title: t('organization.show.welcome'), text_principal: t('organization.show.subtitle'), text_secondary: t('organization.show.invitation')
          
