<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicitó cambiar tu contraseña en Sociedad Actúa.</p>

<p>Para realizarlo, ve a este link: <%= link_to 'Cambiar mi Contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tú no solicistaste este cambio, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará a menos de que vayas al link de este correo y crees una nueva.</p>

<p><b>Sociedad Actúa</b></p>
