%meta { :property => "og:title", :content => "Sociedad Actúa"}
%meta { :property => "og:site_name", :content => "Sociedad Actúa"}
%meta { :property =>"og:url", :content => "http://sociedadactua.org"}
%meta { :property => "og:description", :content => "Sociedad Actúa es el lugar de encuentro entre organizaciones, proyectos, inversionistas y personas."}
-# get app id
%meta { :property => "fb:app_id", :content => ""}
%meta { :property =>"og:type", :content => "article"}

%meta { :name =>  "twitter:card", :content => "summary_large_image"}
%meta { :name => "twitter:site", :content => "http://sociedadactua.org" }
%meta { :name => "twitter:title", :content => "Sociedad Actúa" }
%meta { :name => "twitter:description", :content => "Sociedad Actúa es el lugar de encuentro entre organizaciones, proyectos, inversionistas y personas."}
%meta { :name => "twitter:image:src", :content => "#{image_tag 'logo.png'}" }