<div class="section top-navbar">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png' %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
      <%#= link_to 'Registro', '#', class: 'link' %>
    </div>
  </div>
</div>
